@import './../../../common/styles/templates';
@import './../../../common/styles/variables';

.label{
  position: relative;
} 

.input{
  width: 100%;
  margin: 0.2rem auto;
  padding: 0.8rem;
  border: 2px solid $lightColor;
  outline: none;
}


.error{
  @extend %error;
  line-height: 3rem;
  padding-left: 1rem;  
  top:  0;
  left: 0;  
}

.valid{
  border-color: $validColor;
}

.invalid{
  border-color: $InvalidColor;
}